absl-py==1.4.0
aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.2.0
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
azure-ai-formrecognizer==3.3.3
azure-ai-vision==0.15.1b1
azure-common==1.1.28
azure-core==1.29.7
azure-identity==1.15.0
azure-mgmt-core==1.4.0
azure-mgmt-resource==23.0.1
azure-storage-blob==12.19.1
beautifulsoup4==4.12.2
blis==0.7.11
cachetools==5.3.1
camelot-py==0.9.0
catalogue==2.0.10
certifi==2023.11.17
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
comm==0.2.1
confection==0.1.4
contourpy==1.1.1
cryptography==41.0.3
cycler==0.11.0
cymem==2.0.8
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distro==1.8.0
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.0/en_core_web_md-3.4.0.tar.gz#sha256=5a2da90bb1e1fed8b7ca3158ef8223b9c8e39599e485840c8ef382ae84786829
en_core_web_sm @ file:///C:/Users/ag4488/OneDrive%20-%20Finastra/Visual%20Studio%202022/Projects/AI/TextSummarization/en_core_web_sm-2.2.5.tar.gz#sha256=60b69065c97fd2e4972c33300205e1dead3501d2e0bfd6a182c3a033e337caee
et-xmlfile==1.1.0
executing==2.0.1
fetch-gitignore==0.4.0
filelock==3.12.4
flatbuffers==23.5.26
fonttools==4.42.1
frozenlist==1.4.1
fsspec==2023.12.2
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.23.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.58.0
h11==0.14.0
h5py==3.9.0
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.20.2
idna==3.4
imageio==2.31.3
img2table==1.0.11
ipykernel==6.29.0
ipython==8.20.0
isodate==0.6.1
jedi==0.19.1
Jinja2==3.1.2
jira==3.5.2
joblib==1.3.2
JPype1==1.4.1
jupyter_client==8.6.0
jupyter_core==5.7.1
keras==2.13.1
keyboard==0.13.5
kiwisolver==1.4.5
langcodes==3.3.0
lazy_loader==0.3
libclang==16.0.6
lorem==0.1.1
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mpmath==1.3.0
msal==1.26.0
msal-extensions==1.1.0
msrest==0.7.1
multidict==6.0.4
murmurhash==1.0.10
nest-asyncio==1.6.0
networkx==3.1
nltk==3.8.1
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.8.0.76
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.1
pandas==2.1.0
parso==0.8.3
pathlib_abc==0.1.1
pathy==0.11.0
pdf2image==1.16.3
pdfminer.six==20221105
Pillow==10.0.1
platformdirs==4.1.0
polars==0.19.3
portalocker==2.8.2
preshed==3.0.9
prompt-toolkit==3.0.43
protobuf==4.24.3
psutil==5.9.8
pure-eval==0.2.2
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.14
pydantic_core==2.14.6
Pygments==2.17.2
PyJWT==2.8.0
PyMuPDF==1.23.3
PyMuPDFb==1.23.3
pynput==1.7.6
pyodbc==4.0.39
pyparsing==3.1.1
PyPDF2==3.0.1
pypiwin32==223
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
PyWavelets==1.4.1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rsa==4.9
safetensors==0.4.1
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.2
six==1.16.0
sklearn==0.0.post9
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
sympy==1.12
tabula-py==2.8.1
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
thinc==8.1.12
threadpoolctl==3.2.0
tifffile==2023.9.18
tokenizers==0.15.0
torch==2.0.1
torchvision==0.15.2
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
transformers==4.36.2
typer==0.7.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==1.26.16
wasabi==0.10.1
wcwidth==0.2.13
weasel==0.3.4
Werkzeug==2.3.7
wrapt==1.15.0
XlsxWriter==3.1.3
yarl==1.9.4
